body {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

.App {
  text-align: center;
  font-family: "Lato", sans-serif;
  background-image: url("./images/wp2.jpg");
  object-fit: fill;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  /* align-items: center; */
  justify-content: center;
  font-size: calc(10px + 2vmin);
}

.App-avatar {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-avatar {
    animation: App-avatar-spin infinite 20s linear;
  }
}

.App-link {
  color: #61dafb;
}

@keyframes App-avatar-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotateY(360deg);
  }
}

@media screen and (min-device-width: 321px) and (max-device-width: 768px) {
  .hamburger {
    display: block;
    position: static;
    /* float: left; */
  }
  .logo {
    display: flex;
    justify-content: space-between;
  }
}

@media screen and (max-device-width: 320px) {
  .brand-logo {
    font-size: 10px;
  }
}

.about-container {
  background-image: url("./images/wp4.jpg");
  box-sizing: border-box;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

.portolio-container {
  background-image: url("./images/water.png");
  background-repeat: repeat;
  /* background-position: 50% 0; */
  /* background-size: cover; */
}
.aboutcard {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}
.name-image {
  display: flex;
  flex-direction: column;
}

/* .container { */
/* text-align: center;
  font-family: "Lato", sans-serif; */
/* background-image: url("./images/bg_2.jpg"); */
/* background: rgba(6, 6, 6, 0.3); */
/* object-fit: fill;
  min-height: 100vh; */
/* display: flex;
  flex-direction: column; */
/* flex-wrap: wrap;
  align-items: center;
  justify-content: center; */
/* font-size: calc(10px + 2vmin); */
/* } */

.flex-container {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
}

.project-map {
  font-size: 20px;
  text-align: justify;
  width: 670px;
  margin: 50px auto;
}
.project-map h3 {
  text-align: center;
}

.project-map p {
  text-align: center;
}

.card.service-card {
  padding: 0;
  margin: 0 auto;
  border-radius: 30px;
  overflow: hidden;
  display: flex;
  flex-direction: column;
}

.row {
  display: flex;
  justify-content: center;
  gap: 32px;
  padding-top: 30px;
  flex-wrap: wrap;
}

@media screen and (max-width: 768px) {
  .row {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    /* justify-content: space-around;
    margin: 10px;
    padding: 20px; */
  }
}

.card-image {
  border: 1px solid #ddd;
  border-radius: 8px;
  padding: 5px;
  height: 50%;
}

.card-blue {
  color: blue;
}

.card-component {
  margin: 30px auto;
}
.my-music-container {
  display: flex;
  justify-content: space-around;
}

.my-music {
  padding: 20px;
  /* background-color: rgb(245, 241, 241); */
  /* margin: 100px; */
  border-radius: 20px;
}

.hobby-1 {
  margin-top: 60px;
  /* display: flex; */
  /* flex-direction: row; */
  margin: 30px;
  padding: 20px;
  width: 100%;
  border-radius: 20px;
  background-color: rgb(252, 238, 238);
}

.hobby-content {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  flex-wrap: nowrap;
}

.hobby {
  width: 50%;
  /* margin-right: 100px; */
  background-image: linear-gradient(
    to right,
    rgba(255, 0, 0, 0),
    rgba(125, 169, 226, 0.6)
  );
  border-radius: 30px;
}
.hobby-first-text {
  margin: 50px;
  position: relative;
  height: max-content;
  top: 120px;
  background-image: linear-gradient(
    to left,
    rgba(230, 225, 225, 0),
    rgba(52, 52, 241, 0.1)
  );
  border-radius: 30px;
}

.hobby-text {
  width: 50%;
  text-align: justify;
  font-family: "Source Serif 4", sans-serif;
  font-size: 20px;
  /* background-image: linear-gradient(
    to right,
    rgba(99, 97, 97, 0),
    rgb(192, 194, 196)
  ); */
  border-radius: 30px;
}
/* .nik {
  border-radius: 50px;
  background-color: rgb(109, 104, 104);
} */

@media (prefers-reduced-motion: no-preference) {
  .nik {
    animation: App-nik-spin infinite 20s linear;
  }
}

@keyframes App-nik-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotateY(40deg);
  }
}
.avatar {
  width: 50%;
}
.about-div {
  margin: 30px;
  padding: 20px;
  width: 100%;
  border-radius: 20px;
  background-color: rgb(252, 238, 238);
}

.contact-page {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  padding-top: 20px;
  min-height: 100vh;
  padding-right: 50px;
}

.angular,
.vue {
  margin: 30px;
  padding: 50px;
  height: 100vh;
}

.message_modal {
  display: flex;
  flex-direction: row;
  justify-content: center;
}
.message_text {
  margin: 50px 0 10px 30px;
  font-family: "Permanent Marker", cursive;
  font-size: 32px;
  background-color: rgba(165, 165, 197, 0.1);
  border-radius: 100px;
}

.contact-container {
  display: flex;
  margin: 20px 20px;
  padding-bottom: 20px;

  justify-content: space-between;
}

.github-contact {
  color: rgb(238, 89, 89);
}

.linkedin-contact {
  color: rgb(238, 89, 89);
}

#about-me {
  display: flex;
  flex-direction: column;
}
.about {
  text-justify: auto;
  text-align: justify;
  font-family: "Source Serif 4", sans-serif;
  font-size: 20px;
}

.description {
  text-align: justify;
  font-size: 15px;
}

.nav-links {
  display: flex;
  justify-content: center;
}

.links {
  margin: 10px 30px 10px 30px;
}

.my-links {
  display: flex;
  flex-wrap: wrap;
  /* align-self: flex-end; */
  width: 150px;
  justify-content: center;
}

.welcome {
  color: aliceblue;
  margin: 10px auto;
}

#footer {
  margin: 0 auto;
  position: static;
}

.container_footer {
  text-align: center;
  display: inline;
  width: 100%;
  justify-content: space-around;
}

.quote-container {
  width: 500px;
  height: 100px;
}

.myProjects {
  width: 500px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.project-title {
  margin: 0 auto;
  text-align: center;
}

.nothing {
  position: relative;
  left: 200px;
  margin: 50px;
  object-fit: contain;
  width: 50%;
}

#dropdown1 {
  position: absolute;
  top: -65px;
  min-width: 200px;
}

.dropdown-trigger {
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  font-size: 14px;
}

.contact_link_icon {
  width: 20px;
  color: white;
}

.project-sidenav-collaps {
  margin-left: 15px;
}

.sidenav-logo {
  margin-left: 30px;
}
